header.header
      .container
        .navigation
          ul.menu
            li
              img(src="./img/logo.png", alt="Không thể hiển thị hình ảnh" class="header-logo")
            li
              a(href="#!") My United
            li
              a(href="#!") First team
            li
              a(href="#!") Manager
            li
              a(href="#!") Legend
          .auth
            .languge
              select(name="")
                option(value="") English
                option(value="") VietNam