@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");

body {}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: #fff;
  font-size: 100%;
  font-weight: 600;
  font-family: "Montserrat", sans-serif;
}

a {
  cursor: pointer;
}

.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

.text-black {
  color: #000 !important;
}

#wrapper {}

#heading {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 9999;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.nav,
.sub-nav {
  list-style: none;
}

.nav {
  display: inline-block;
}

.nav .nav-item {
  display: inline-block;
  position: relative;
}

.nav .nav-item .nav-link {
  text-transform: uppercase;
  padding: 0 25px;
  line-height: 46px;
  color: #fff;
}

.nav .nav-item .nav-link {
  display: block;
  text-decoration: none;
}

.nav-icon {
  padding-left: 5px;
  font-size: 12px;
  color: #fff;
}

.sub-nav {
  display: block;
  position: absolute;
  top: 100%;
  left: 0;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  opacity: 0;
  visibility: hidden;
}

.nav .nav-item:hover .sub-nav {
  opacity: 1;
  visibility: visible;
  color: #000;
}

.sub-nav .sub-item {
  min-width: 160px;
}

.sub-link {
  display: block;
  color: #000;
  padding: 10px 25px;
}

.nav-item:hover .nav-link,
.sub-item:hover {
  color: #000 !important;
  background-color: #ccc !important;
}

.mobile-menu-btn {
  display: none;
}

.mobile-menu-btn,
.search-btn {
  color: #fff;
  padding: 11px 20px;
  font-size: 20px;
}

.search-btn:hover,
.mobile-menu-btn:hover {
  background-color: red;
  color: #000;
}

.slider {
  margin-top: 46px;
  padding-top: 40%;
  background: url(https://images.unsplash.com/photo-1462043103994-3eb31d19a057?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80) top center/ cover no-repeat;
  position: relative;
}

.slider-content {
  position: absolute;
  text-align: center;
  top: 20%;
  left: 0;
  right: 0;
}

.text-title {
  font-size: 30px;
  margin-bottom: 20px;
}

.content {
  width: 100%;
}

.content-section {
  width: 900px;
  max-width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding: 64px 16px;
}

.section-heading {
  font-size: 30px;
  font-weight: bold;
  letter-spacing: 4px;
}

.sub-heading {
  font-size: 15px;
  font-style: italic;
  font-weight: 100;
  padding: 10px 0 25px 0;
}

.section-heading,
.sub-heading {
  text-align: center;
  color: #000;
}

.about-content {
  font-size: 15px;
  text-align: justify;
  color: #000;
  margin-top: 25px;
}

.members-list {
  margin-top: 48px;
  /* overflow: hidden; */
}

.member-item {
  width: 33.33333%;
  float: left;
  text-align: center;
}

.name-member {
  color: #000;
  font-size: 15px;
}

.member-avt {
  width: 200px;
  height: 300px;
  margin-top: 15px;
  border-radius: 5px;
}

.tour-section {
  background: #000;
  color: #fff !important;
}

.ticket-list {
  list-style: none;
}

.ticket-list li {
  color: #000;
  background: #fff;
  border-bottom: 1px solid #ccc;
  font-weight: 100;
  padding: 8px 16px;
  font-size: 15px;
}

.sold-out {
  margin-left: 10px;
  padding: 2px 10px;
  background: orangered;
}

.quantity {
  float: right;
  background: #000;
  font-weight: 100;
  padding: 3px 8px;
  border-radius: 50%;
  margin-right: 30px;
  margin-top: -2px;
  text-align: center;
}

.tickets {
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: -20px;
}

.ticket {
  margin-left: 20px;
  background: #fff;
}

.ticket-img {
  width: 100%;
  height: 200px;
}

.ticket-bot {
  padding: 0 16px;
}

.ticket-bot>h3,
p,
button {
  color: #000;
}

.ticket-palace,
.ticket-time,
.ticket-desc {
  margin: 15px 0;
  line-height: 1.5;
}

.ticket-palace {
  font-size: 22px;
  font-weight: 600;
}

.ticket-time {
  font-size: 12px;
  font-weight: 200;
}

.ticket-desc {
  font-size: 15px;
  font-weight: 300;
}

.ticket-btn {
  margin-bottom: 15px;
  background: #000;
  padding: 8px 16px;
  outline: none;
  border: none;
  color: #fff;
  font-weight: 300;
  cursor: pointer;
}

/**                 Modal                **/
.ticket-btn::selection .modal {
  display: block;
}

.modal {
  display: none;
  background: rgba(0, 0, 0, 0.4);
  position: fixed;
  inset: 0;
}

.modal.open {
  display: flex;
}

.modal.close {
  display: none;
}

.modal-center {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-container {
  width: 90%;
  max-width: 900px;
  position: relative;
}

.modal-close {
  position: absolute;
  right: 0;
}

.modal-close {
  font-size: 30px;
  padding: 10px 10px;
  cursor: pointer;
}

.header-modal {
  background: #009688;
  padding: 32px 16px;
  text-align: center;
  letter-spacing: 5px;
}

.modal-title {
  color: #fff;
  font-size: 30px;
  margin: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-title i {
  margin-right: 10px;
}

.main-modal {
  background: #fff;
  padding: 0 20px 20px;
}

.label-modal {
  display: block;
  color: #000 !important;
  font-weight: 300;
  padding: 15px 0;
}

.label-modal i {
  color: #000;
}

.label-modal,
.input-modal,
.pay-btn {
  width: 100%;
}

.input-modal {
  cursor: text;
  color: #000;
  padding: 10px 20px;
  font-weight: 400;
  border: 0.5px solid #ccc;
}

.input-modal:active {
  border: 1px solid #ccc;
}

.input-modal::placeholder {
  font-weight: 200;
  font-size: 12px;
}

.pay-btn {
  border: 1px solid #ccc;
  outline: none;
  margin: 16px 0;
  padding: 16px;
  background: #009688;
  cursor: pointer;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close-btn {
  background: orangered;
  padding: 10px 16px;
  border: none;
  outline: none;
  cursor: pointer;
  color: #fff;
}

.modal-close:hover,
.pay-btn:hover,
.close-btn:hover {
  background: #02554d;
}

.main-modal span {
  text-align: right;
  /* float: right; */
}

.main-modal a {
  color: rgb(48, 196, 139);
}

/* --------------------------------------------------------------- */
.contact-container {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  padding: 32px;
}

.contact-container i {
  color: #000;
}

.info-contact {}

.info-text {
  font-weight: 400;
  padding: 5px;
}

.ti-location-pin {}

.ti-mobile {}

.ti-email {}

.input-contact {}

.input-contact input {
  padding: 9px;
  border: 1px solid #ccc;
  outline: none;
  color: #000;
}

.input-contact input:focus {
  border: 2px solid #000;
}

.input-contact input::placeholder {
  font-weight: 200;
  font-size: 13px;
}

.column-contact {
  width: 100%;
  margin-bottom: 10px;
}

.column-contact:last-child {
  margin-left: 20px;
}

.input-top {}

.input-bottom {
  width: 100%;
  margin-bottom: 20px;
}

.btn-send-message {
  float: right;
  font-size: 18px;
  padding: 10px 20px;
  background: #000;
  color: #fff;
  outline: none;
  border: none;
  cursor: pointer;
}

.footer {
  text-align: center;
}

.footer img {
  width: 100%;
}

.footer i,
span,
a {
  color: #000;
  text-decoration: none;
}

.footer i {
  font-size: 30px;
  padding: 10px;
}

.footer a:hover i {
  color: rgb(209, 98, 98);
}

.footer span {
  font-weight: 300;
}

.social {
  margin: 100px 0;
}

.social-icon {
  margin-bottom: 15px;
}

@media (max-with: 740px) {
  #wrapper {
    width: 100%;
  }

  .heading {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
  }

  .search-btn {
    display: none;
  }
}